{% extends 'order/layout/order_base_page.html' %}

{% block title %}
全部订单
{% endblock %}

{#  添加css  #}
{% block css %}

{% endblock %}

{# 设置面包屑导航名称 #}
{% block breadcrumb %}
全部订单
{% endblock %}

{# 添加内容 #}
{% block content %}
    {#  表格数据  #}
    <div class="layui-hide" id="tableComplete" lay-filter="tableComplete">
    {#  表格中的按钮#}
    <script type="text/html" id="tableButton">
        <a id="btnEdit" class="layui-btn layui-btn layui-btn-xs" lay-event="detail">
            <i class="layui-icon layui-icon-more"></i> 查看
        </a>
        <a id="btnAdd" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
            <i class="layui-icon layui-icon-edit"></i> 编辑
        </a>
        <a id="btnDel" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
            <i class="layui-icon layui-icon-delete"></i> 删除
        </a>
    </script>

    </div>
    <!--弹出层表单 -->
    <div class="layerArea" style="display: none;padding: 40px 0 0 30px ">
        <form class="layui-form" id="layerForm" lay-filter="layerForm">
            {% csrf_token %}
{#            第一行#}
            <div class="layui-form-item">
                <label class="layui-form-label" for="order_number"><b>订单编号：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="order_number" name="order_number" class="layui-input">
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>
                <label class="layui-form-label" for="sj_name"><b>收件姓名：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="sj_name" name="sj_name" class="layui-input">
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>
            </div>
{#            第二行#}
            <div class="layui-form-item">
                <label class="layui-form-label" for="sj_mobile"><b>收件电话：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="sj_mobile" name="sj_mobile" class="layui-input">
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>
                <label class="layui-form-label" for="order_date"><b>订单日期：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="order_date" name="order_date" class="layui-input" placeholder="请选择日期">
                </div>
            </div>
{#            第三行#}
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" for="sj_address"><b>收件地址：</b></label>
                    <div class="layui-input-inline">
                        <input type="text" id="sj_address" name="sj_address" class="layui-input" style="width:263%;">
                        <span class="error-msg" style="color:red; position: absolute"></span>
                    </div>
                </div>
            </div>
{#            第四行#}
            <div class="layui-form-item">
                <label class="layui-form-label" for="product_name"><b>商品名称：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="product_name" name="product_name" class="layui-input">
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>
                <label class="layui-form-label" for="price"><b>商品价格：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="price" name="price" class="layui-input">
                </div>
            </div>
{#            第五行#}
            <div class="layui-form-item">
                <label class="layui-form-label" for="payment_method"><b>付款方式：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="payment_method" name="payment_method" class="layui-input">
                </div>
                <label class="layui-form-label" for="jf_date"><b>进粉日期：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="jf_date" name="jf_date" class="layui-input" placeholder="请选择日期">
                </div>
            </div>
{#            第六行#}
            <div class="layui-form-item">
                <label class="layui-form-label" for="jz_name"><b>金主姓名：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="jz_name" name="jz_name" class="layui-input">
                </div>
                <label class="layui-form-label" for="remarks"><b>八字/供灯：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="remarks" name="remarks" class="layui-input">
                </div>
            </div>
{#            第七行#}
            <div class="layui-form-item">
                <label class="layui-form-label" for="write_state"><b>书写状态：</b></label>
                <div class="layui-input-inline">
                    <select id="write_state" name="write_state" lay-search="">
                        <option value="">请选择</option>
                        <option value="已书写">已书写</option>
                        <option value="未书写">未书写</option>
                    </select>
                </div>
                <label class="layui-form-label" for="kg_date"><b>开光日期：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="kg_date" name="kg_date" class="layui-input" placeholder="请选择日期">
                </div>
            </div>
{#            第八行#}
            <div class="layui-form-item">
                <label class="layui-form-label" for="sy_remark"><b>寺院备注：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="sy_remark" name="sy_remark" class="layui-input">
                </div>
                <label class="layui-form-label" for="fh_remark"><b>发货备注：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="fh_remark" name="fh_remark" class="layui-input">
                </div>
            </div>
{#            第九行#}
            <div class="layui-form-item">
                <label class="layui-form-label" for="service_name"><b>客服姓名：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="service_name" name="service_name" class="layui-input">
                </div>
                <label class="layui-form-label" for="fh_data"><b>发货日期：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="fh_data" name="fh_data" class="layui-input" placeholder="请选择日期">
                </div>
            </div>
{#            第十行#}
            <div class="layui-form-item">
                <label class="layui-form-label" for="courier_number"><b>快递单号：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="courier_number" name="courier_number" class="layui-input">
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>
                <label class="layui-form-label" for="shipping_status"><b>发货状态：</b></label>
                <div class="layui-input-inline">
                    <select type="text" id="shipping_status" name="shipping_status" lay-search="">
                        <option value="">请选择</option>
                        <option value="已发货">已发货</option>
                        <option value="未发货">未发货</option>
                    </select>
                </div>
            </div>
{#            第十一行#}
            <div class="layui-form-item">
                <label class="layui-form-label" for="number"><b>仓库库存：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="number" name="number" class="layui-input">
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{# 添加js #}
{% block js %}
    <script>
        // 定义查询状态值
        let STATUS = false;
        // 定义全局变量记录当前操作
        let Operator = 0;
        // 入口函数
        $(function (){
            // 初始化表格
            initTable();
            // 响应按钮点击事件
            buttonClick();
            // 初始化日期选择框
            initDatePicker();
        });
        // 初始化函数实现
        function initTable(queryStr=""){
            // 使用table插件
            layui.use('table',function (){
                // 实例化表格
                let table = layui.table;
                // 渲染表格
                table.render({
                    elem: '#tableComplete'
                    // 请求数据后台接口
                    ,url: "{% url 'list_complete' %}"
                    ,method: "post"
                    ,where: {
                        inputStr: queryStr,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }
                    ,cols: [[
                        {type:'numbers', width:60, align: 'center', title: '编号', sort: true}
                        ,{field:'order_number',align: 'center', title: '订单编号',sort: true}
                        ,{field:'sj_name', title: '收件姓名', align: 'center',sort: true}
                        ,{field:'sj_mobile', title: '收件电话', align: 'center',sort: true}
                        ,{field:'order_date',align: 'center', title: '订单日期',sort: true}
                        ,{field:'sj_address', title: '收件地址', align: 'center',sort: true}
                        ,{field:'product_name', title: '商品名称', align: 'center',sort: true}
                        ,{field:'price',align: 'center', title: '价格',sort: true}
                        ,{field:'payment_method', title: '付款方式', align: 'center',sort: true}
                        ,{field:'jf_date', title: '进粉日期', align: 'center',sort: true}
                        ,{field:'jz_name',align: 'center', title: '金主姓名',sort: true}
                        ,{field:'remarks', title: '八字/供灯/排位/发会/财库', align: 'center',sort: true}
                        ,{field:'write_state', title: '书写状态', align: 'center',sort: true}
                        ,{field:'kg_date',align: 'center', title: '开光日期',sort: true}
                        ,{field:'sy_remark', title: '寺院备注', align: 'center',sort: true}
                        ,{field:'fh_remark', title: '发货备注', align: 'center',sort: true}
                        ,{field:'service_name', title: '客服姓名', align: 'center',sort: true}
                        ,{field:'fh_data', title: '发货日期', align: 'center',sort: true}
                        ,{field:'courier_number', title: '快递单号', align: 'center',sort: true}
                        ,{field:'shipping_status', title: '发货状态', align: 'center',sort: true}
                        ,{field:'number', title: '数量', align: 'center',sort: true}
                        ,{fixed: 'right', title: '操作', align:'center', toolbar: '#tableButton'}
                    ]]
                    ,width: 4800
                    // 不同行背景不同显示
                    ,even: true // 表格斑马线效果
                    // **是否显示顶部工具栏 （可直接导出）
                    ,toolbar: true
                    // 表头样式显示
                    ,done: function (res, current, count){
                        $('thead tr').css({'background-color': '#009688','color': 'white'})
                    }
                    // 分页
                    ,page: true
                    //设置分页的每页记录条数
                    ,limit:12
                    ,limits: [12,15,20,30,50,75,100]
                })

                // 侦听表格操作
                table.on('tool(tableComplete)',function (obj){
                    // 获取当前行的数据
                    let lineData = obj.data;
                    // 判断操作
                    if(obj.event === 'detail'){
                        // 修改Operator
                        Operator = 2;
                        // 加载弹出层
                        loadLayer("<b style='color: navy'>查看订单数据</b>",lineData)
                    }else if (obj.event === 'edit'){
                        // 修改Operator
                        Operator = 3;
                        // 加载弹出层
                        loadLayer("<b style='color:navy'>修改订单数据</b>",lineData)
                    }else if (obj.event === 'del'){
                        // 删除
                        deleteValue(lineData);
                    }
                })
            })
        }

        // 按钮点击事件
        function buttonClick() {
            // 查询按钮
            $('#btnQuery').on('click',function (){
                // 获取文本框值
                let inputStr = $('#queryStr').val();
                initTable(inputStr)
            })
            // 全部按钮
            $('#btnAll').on('click',function (){
                // 页面重新加载
                location.reload();
            })
            // 添加按钮
            $('#btnAdd').on('click',function (){
                // 修改 operator值
                Operator = 1;
                // 弹出层
                loadLayer("<b style='color: navy'>添加订单数据</b>")
            })
        }

        // ============== 加载弹出框=============
        function loadLayer(title,value="") {
            // 弹出层的按钮准备
            let btns = ["确定", '取消'];
            // 判断
            if (Operator === 2) {
                btns = ['关闭']
            }
            layui.use(['layer', 'form'], function () {
                let layer = layui.layer;
                let form = layui.form;
                layer.open({
                    type: 1,
                    title: title,
                    area: ['50%', '80%'],
                    content: $('.layerArea'),
                    btn: btns,
                    resize: false,
                {#    ========函数==========#}
                    success: function (index,layero){
                        // console.log(value)
                        // 1. 赋值 查看修改
                        if(Operator===3 || Operator===2){
                            form.val('layerForm',value);
                            /* 联级选项
                            * // 重新渲染
                            form.render();
                            // 赋值专业
                            $('<option>').attr('value', value.major).text(value.major__name).appendTo('#major');
                            form.val('layerForm', {
                                major: value.major,
                            });
                            // 重新渲染
                            form.render();
                            *
                            * */

                        }
                        // 2. 禁用 或只读
                        if(Operator===2){
                            $('#layerForm').find('input,select').prop('disabled',true)
                        } else if(Operator===3){
                            $('#order_number').attr('readonly',true)
                        }
                    },
                    yes: function (index,layero){
                        if (Operator === 2) {
                            layer.close(index);
                            return;
                        }
                        // 清空所有的报错
                         $('.error-msg').empty()
                        // 进行表单验证 提交
                        if(checkInput()){
                            // 提交
                             let commitURL = "";
                             if(Operator === 1){
                                 commitURL = "{% url 'add_complete' %}";
                             } else if(Operator ===3) {
                                 commitURL = "{% url 'edit_complete' %}";
                             }
                             // 使用 ajax提交
                            $.ajax({
                                url: commitURL,
                                method: 'post',
                                data: $('#layerForm').serialize(),
                                dataType: 'json',
                                success: function (res){
                                    if(res.status){
                                        location.reload();
                                    }else {
                                        layui.use('layui', function () {
                                         layer.msg(res.error,
                                             {
                                                 icon: 2,
                                                 area: ['350px', '150px'],
                                                 time: -1,
                                                 btn: ['关闭']
                                             });
                                        })
                                    }
                                }
                            })
                        }
                    },

                    // 回调函数
                    end: function (index,layero){
                        $('#layerForm').find('input,select').prop('disabled',false)
                        // 把主键改为正常可编辑模式
                        $('#order_number').attr('readonly',false)
                        // 将表单置空
                        form.val('layerForm', {
                            order_number: "",
                            sj_name: "",
                            sj_mobile: "",
                            order_date: "",
                            sj_address: "",
                            product_name: "",
                            price: "",
                            payment_method: "",
                            jf_date: "",
                            jz_name: "",
                            remarks: "",
                            write_state: "",
                            kg_date: "",
                            sy_remark: "",
                            fh_remark: "",
                            service_name: "",
                            fh_data: "",
                            courier_number: "",
                            shipping_status: "",
                            number: "",
                        })
                    }
                })
            })
        }

        // 初始化日期选择框
        function initDatePicker() {
            layui.use('laydate',function (){
                // 实例化
                let laydate = layui.laydate;
                // 渲染
                laydate.render({
                    elem: ('#order_date')
                })
                laydate.render({
                    elem: ('#jf_date')
                })
                laydate.render({
                    elem: ('#kg_date')
                })
                laydate.render({
                    elem: ('#fh_data')
                })
            })
        }

        // 提交前的 验证  姓名、电话、地址
        function checkInput() {

            // 定义变量
            let checkResult = true;
            // 验证订单编号
            if ($('#order_number').val().trim().length == 0) {
                checkResult = false;
                $('#order_number').next().text("订单编号不能为空！");
            }
            // 判断订单编号是否存在 （仅添加）
            if(Operator ===1){
                $.ajax({
                    url: '{% url 'is_order_number_exists' %}',
                    method: 'post',
                    data: {
                        order_number: $('#order_number').val().trim(),
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    dataType: 'json',
                    success: function (res){
                        if(res.data){
                            checkResult = false;
                            $('#order_number').next().text("订单编号已经存在");
                        }
                    }
                })
            }

            // 验证姓名
            if ($('#sj_name').val().trim().length == 0) {
                checkResult = false;
                $('#sj_name').next().text("姓名不能为空！");
            }
            // 验证手机号
            let sj_mobile = $('#sj_mobile').val().trim();
            if (sj_mobile.match(/^[1]\d{10}$/) == null) {
                checkResult = false;
                $('#sj_mobile').next().text("手机必须要是11位数字");
            }

            // 验证商品名称
            if ($('#product_name').val().trim().length == 0) {
                checkResult = false;
                $('#product_name').next().text("商品名称不能为空！");
            }
            // 验证快递单号
            if ($('#courier_number').val().trim().length == 0) {
                checkResult = false;
                $('#courier_number').next().text("快递单号不能为空！");
            }
            // 验证住址
            if ($('#sj_address').val().trim().length == 0) {
                checkResult = false;
                $('#sj_address').next().text("家庭地址不能为空！");
            }
            return checkResult

        }

        // 数据的删除
        function deleteValue(value){
            // 确认的提示
            let confirmStr = "您确认删除订单编号为【" + value.order_number + "-" + value.sj_name + "】的订单信息吗"
            // 确认
            layui.use('layer',  function (){
                layer.confirm(confirmStr, {icon:3,area:['450px','200px']},function (index){
                    // ajax 请求
                    $.ajax({
                        url: "{% url 'del_complete' %}",
                        method: "post",
                        data: {
                            order_number: value.order_number,
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                        dataType: 'json',
                        success: function (res){
                            if(res.status){
                                location.reload();
                            } else {
                                layer.msg(res.error, {
                                    icon: 2,
                                    area: ['350px', '150px'],
                                    time: -1,
                                    btn: ['关闭']
                                });
                            }
                        }

                    })
                })
            })
        }


    </script>
{% endblock %}